
<% if user_signed_in? %>
<p>Welcome back</p><p><%= current_user.email %></p>
<% end %>

<div class="jumbotron">
  <h1>We all love kittens</h1>
  <p>But I <i>just don't know</i> where to find them on the <b>internet</b>.</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/about"><span class="glyphicon glyphicon-star"></span>Learn more</a></p>

  
</div>


<div><table class="table">
  <tr>
    <th>Pinterest for Kittens</th>
    <th>Table</th>
  </tr>
  <tr>
    <td>Kittens</td>
    <td>Images</td>
  </tr>
</table></div>